# Игнорировать файлы и папки Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать папки сборки и промежуточные файлы
obj/
bin/

# Игнорировать временные файлы .NET
project.lock.json
project.fragment.lock.json
artifacts/
singleton/
